.custom-button {
  min-width: 100%;
  width: auto;
  height: 64px;
  background: #9580ff;
  box-shadow: 2px 8px 25px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 0.75rem;
  font-family: "Open Sans";
  font-weight: 600;

  &:hover {
    background: #ab9aff;
    cursor: pointer;
  }
}
