* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Lora", serif;
  font-size: 1.875rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
}
